@import '../../colors.scss';
.header {
    display: flex;
    justify-content: space-around;
    background-color: $darkblue;
    color: $white;
    font-size: 1rem;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    .guestZone, .userZone, .leftHeader {
        display: flex;
    }

    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        transition: all 0.8s;
        &:hover {
            background-color: $lightblue;
        }
        &.active {
            background-color: $lightblue;
        }
    }

    .patata{
        justify-content: space-evenly;
        display: flex;
        width: 18em;
        margin-top: 0.5em;
    }

    .ant-badge:not(.ant-badge-not-a-wrapper) {
        margin-right: 20px;
    }

    .ant-badge.ant-badge-rtl:not(.ant-badge-not-a-wrapper) {
        margin-right: 0;
        margin-left: 20px;
    }

    .head-example {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        background: $lightblue;
        display: inline-block;
        vertical-align: middle;
    }
    
    [data-theme="dark"] .head-example {
    background: rgba(255,255,255,.12);
  }
}
